@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --firstBgColor: #fff;
  --secondBgColor: #e4e4e4;
  --identityColor: #09c;
  --mainColor: #000;
  --grayColor: #ddd;

}
.dark {
  --firstBgColor: #000;
  --secondBgColor: #222;
  --identityColor: #f57201;
  --mainColor: #fff;
  --grayColor: #ddd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --firstBgColor: #000;
    --secondBgColor: #222;
    --identityColor: #f57201;
    --mainColor: #fff;
    --grayColor: #ddd;
  }
}
body {
  background-color: var(--secondBgColor);
  font-family: 'Poppins', sans-serif;
}